@using Db.Models
@{
    ViewData["Title"] = "Lista de Alumno";
}
<center>
    <h1>Lista de Alumnos</h1>
    <a type="button" class="btn btn-primary" asp-controller="Alumno" asp-action="Crear">Crear</a>
    <p></p>
</center>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Sexo</th>
      <th scope="col">Edad</th>
      <th scope="col">Acciones</th>
      <th scope="col">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (AlumnoModel item in ViewBag.alumnos)
    {
        <tr>
            <th scope="row">@item.alm_codigo</th>
            <td>@item.alm_nombre</td>
            <td>@item.alm_sexo</td>
            <td>@item.alm_edad</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Editar
                </button>
                <a type="button" class="btn btn-secondary" asp-controller="Alumno" asp-action="Eliminar" asp-route-idAlumno="@item.alm_id">Eliminar</a>
            </td>
            <td>@item.alm_observacion</td>
        </tr>
    }
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>